.App {
  position: fixed;
  top: 7rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  text-align: center;  
  padding: 0 5rem;  
  font-family: 'Courier New', Courier, monospace;
}

.wrapper {
  font-family: 'Courier New', Courier, monospace;
}


h1 {
  margin-left: 2rem;
  margin-top: 1.5rem;
}

select {
  height: 2rem;
  border-radius: 5px;
  font-size: 1.05rem;
  font-family: 'Courier New', Courier, monospace;
}

button {
  font-family: 'Courier New', Courier, monospace;
  margin: 0 0.2rem;
  height: 2rem;
  border-radius: 5px;
  font-size: 1.05rem;
  background-color: #ec8587;
  border: none;
  color: white;
  cursor: pointer;
}


 .exchange-rate {
  min-width: 20%;
  font-size: 1.5rem;
  color: #c9a7bf;
  font-weight: bolder;
  
} 

.light {
  border: 1px solid #f9e0e2;
  background-color: #f7e6e8;
  box-shadow: 3px 3px 5px 6px #e6ccce;
}

.dark {
  color: #c9a7bf;
  border: 1px solid #1c2131;
  background-color: #1c2131;
  box-shadow: 3px 3px 5px 6px #e6ccce;
}
